<!DOCTYPE html>
<html>
  <head>
    <title>reCAPTCHA demo: Simple page</title>
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form action="/api/test/captcha" method="POST">
      <div class="g-recaptcha" data-sitekey="6Lc45NYSAAAAALcBfu-f24As5Fbni-JMGuVJmHhX"></div>
      <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
